<div class="prod-card">
  <ion-card>
    <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTQ9kh_kGTZf1EZ2eL5wYVtnXtspt0dHJ5QvJLXrCkwcGEqHRB_" />
    <ion-card-header>
      <ion-card-subtitle>T-Shirts</ion-card-subtitle>
      <ion-card-title>Avengers Hoodie</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Rs: 500
    </ion-card-content>
    <div class="buy">
      <div class="colors">
        <p>Available colours</p>
        <div class="color"></div>
        <div class="color"></div>
        <div class="color"></div>
      </div>
      <div class="sizes">
          <p>Available sizes</p>
        <div class="size"></div>
        <div class="size"></div>
        <div class="size"></div>
      </div>
    </div>
  </ion-card>
  <div class="wishlist">
    <ion-icon name="heart-empty"></ion-icon>
  </div>
  <div class="cart">
      <ion-icon name="cart"></ion-icon>
  </div>
</div>